# # See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# # dependencies
# /node_modules
# /.pnp
# .pnp.js

# # testing
# /coverage

# # production
# /build

# # misc
# .DS_Store
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*

# # Local Netlify folder
# .netlify

# Build artifacts
node_modules/
build/  # Assuming your production build folder is named "build"

# Testing frameworks (choose relevant ones)
jest/  # For Jest
cypress/  # For Cypress
testing-library/  # For React Testing Library

# Editors and IDE specific files
.vscode/
.idea/

# Temporary files
.DS_Store
*.env  # Environment variables (store them securely)

# Netlify specific
# Ignore the directory where Netlify stores its cache and build artifacts
.netlify/